@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.album-container {
  white-space: nowrap;
  overflow: hidden;
  /* position: absolute; */
  flex-direction: column;
}

.album-card {
  height: 200px;
  /* position: absolute; */
}

.card-overlay {
  opacity: 0;
  transition: opacity 300ms;
}

.album-card:hover .card-overlay {
  opacity: 100;
}

.card-img {
  transition: opacity 300ms;
}

.album-card:hover .card-img {
  opacity: 30%;
}

.album-photo {
  border-radius: 5%;
}

.modal-img {
  height: 750px;
}

.img-modal {
  height: 90% !important;
  width: 90%;
}

.modal-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-card {
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 200px;
  border-radius: 10%;
}

img.absolute {
  border-radius: 10%;
  /* left: 50%; */
  /* margin-left: -200px; */
  position: absolute;
}

.btn-close {
  background-color: white !important;
  border-radius: 25% !important;
}

.about-img {
  height: 250px;
  width: 250px;
}